html { font-size: 62.50%; }
body { font-size: 14px; font-size: 1.4rem; }
h1   { font-size: 24px; font-size: 2.4rem; }

.jumbotron {
    padding: 4rem 2rem;
    margin-bottom: 2rem;
    background-color: #eceeef;
    border-radius: .3rem;
}

#navbar_header{
    border-radius: 1px;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    border-bottom-left-radius: 1px;
    background-color: #666;
    border-color: #666;
    margin-bottom: 0px;
}

#email {
    margin-top: 10px;
    margin-right: 5px;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #999;
}

.navbar-inverse .navbar-toggle {
    border-color: #999;
}

.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
    background-color: #555;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
}

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .25rem;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.btn-group-lg>.btn, .btn-lg {
    padding: .75rem 1.5rem;
    font-size: 1.75rem;
    border-radius: .3rem;
}

.btn-primary {
    color: #fff;
    background-color: #0275d8;
    border-color: #0275d8;
}


.navbar-inverse .navbar-nav>li>a {
    color: #999;
    font-size: 2rem;
    line-height: 128px;
}

.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover {
    color: #ddd;
}
.navbar-inverse .navbar-collapse {
	border-color: rgba(102, 102, 102, 0);
	box-shadow: inset 0 0px 0 rgba(255,255,255,.1);
}

.card{
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.padded{
	padding: 20px;

}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: #f7f7f9;
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}
.card-block {
    flex: 1 1 auto;
    padding: 1.25rem;
}
.card-text{
	margin-top: 0;
    margin-bottom: 1rem;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #eceeef;
}

.thead-inverse th {
    color: #fff;
    background-color: #292b2c;
}


