<tr>
{% if sms %}
    <td>{{ sms.cliente }}</td><td>
    {% if sms.fone %}
        {{ sms.fone }}</td><td class="green">
    {% else %}
        Telefone inválido</td><td class="red">
    {% endif %}
    {{ sms.status }}</td>
{%else%}
    <td>Nenhuma entrada disponível.</td>
{% endif %}
</tr>