{% extends "table_base.html" %}

{%block style %}{% endblock %}
    <hr />
    <br />
    <table>
    <tr>
        <th>Relatório De Envio de SMS</th>
    </tr>
    <tr>
        <th>
            <p>Esta é uma mensagem automática da HQS contendo o 
                relatório de mensagens enviadas pelo app de sms.</p>
            <p>Em caso de dúvidas, não hesite  em nos contatar.</p>
        </th>
    </tr>
    <tr>
        <th>Cliente</th><th>Telefone</th><th>Resultado</th></tr>
    {%block table_content %}{% endblock %}
    </table>
