<html lang="pt-br">
<head>
    <title>HQSMS</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link href="/static/css/main.css" rel="stylesheet">
	<script type="text/javascript" src="/static/js/simple-excel.js"></script>
    <script type="text/javascript" src="/static/js/main.js"></script>
{% block javascript%}{% endblock %}
</head>
<body>
<noscript>You need to enable JavaScript to run this app.</noscript>
    <nav id="navbar_header" class="navbar navbar-inverse gray">
        <div class="container-fluid">
            <div class="navbar-header">
                <button class="navbar-toggle" data-toggle="collapse" data-target="#navigation"
                aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-left" href="#">
                    <img src="/static/media/hqs-logo.png" alt="HQS">
                </a>
                </div>
                <div class="collapse navbar-collapse" id="navigation">
                    <ul class="navbar-nav nav">
                        <li class="nav-item">
                            <a  href="/home/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="/sms/">SMS</a>
                        </li>
                    </ul>
                </div>
            </div>
    </nav>
{% block content%}{% endblock %}
    <footer>
        <p>© HQS Soluções 2017</p>
    </footer>
</body>
</html>