{% extends "base.html" %}
{% block content  %}
				<div>
					<div class="jumbotron">
						<div class="container">
							<h3>Bem vindo ao aplicativo de envio de SMS da HQS Soluções em TI</h3>
							<p>Para iniciar, clique no botão da Companhia de origem.</p>
							<p>Em caso de problemas ou dúvidas, entre em
								<a href="mailto:contato@hqssolucoes.com.br"> contato </a>conosco.
							</p>
                            {% for comp in comp_list %}
                            <p>
                                <a class="btn btn-primary btn-block btn-lg"  href="/sms/{{comp.alias}}/">
                                    {{ comp.name }}
                                </a>
                            </p>
                            {% endfor%}
						</div>
					</div>
					<hr>
				</div>
{% endblock %}