{% extends "base.html" %}
{%block javascript %}
<script type="text/javascript" src="/static/js/sms_xml.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    setState({sms_comp :'{{ comp.alias }}'});
    var FileInput = document.getElementById("file");
    var EmailInput = document.getElementById("email");
    var SendButton = document.getElementById("send");
    if (!((FileInput[0] === undefined )&& (EmailInput === undefined ))){
        SendButton.disabled = true;
    }
    if (FileInput){
        FileInput.addEventListener('change', parse_xml);
    }
    EmailInput.addEventListener('change', handleEmail);
    SendButton.addEventListener('click', sendMessage);
});
</script>

{% endblock %}
{% block content  %}
    <div id=sms-creator class="card padded">
        <h3 class="card-header">Envio de SMS</h3>
        <div class="card-block">
            <p class="card-text">Selecione o relatório .xls extraído do sistema.</p>
            <input type="file" id="file" />
            <br>
            <input type="email" id="email" placeholder="exemplo@email.com.br" >
            <label for="email">
                    Insira o email que reberá o relatório de resultado
            </label>
            <div>
               <p> <button id="send" class="btn btn-primary btn-lg" onclick="sendMessage">Enviar</button></p>
            </div>
            <div class="alert alert-info" role="alert" id="alert">

            </div>
        </div>
        <table class="table table-striped" id="result" >
            <thead class="thead-inverse">
                <tr>
                    <th>Cliente</th>
                    <th>Telefone</th>
                    <th>Email</th>
                    <th>Mensagem</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td id="placeholder">Selecione um arquivo para iniciar</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}