{% extends "base.html" %}
{%block javascript %}
<script type="text/javascript" src="/static/js/sms_single.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        setState({sms_comp :'{{ comp.alias }}'});
        var MsgInput = document.getElementById("mensagem");
        var EmailInput = document.getElementById("email");
        var TelInput = document.getElementById("telefone");
        var SendButton = document.getElementById("send");
        SendButton.disabled = true;
        MsgInput.addEventListener('change', txtHandler);
        TelInput.addEventListener('change', validaTel);
        EmailInput.addEventListener('change', handleEmail);
        SendButton.addEventListener('click', sendMessage);
        $('#mensagem').keyup(updateCount);
        $('#mensagem').keydown(updateCount);
    });
</script>
{% endblock %}
{% block content  %}
<div class="container">
    <div id=sms-creator class="card padded collapse">
        <h3 class="card-header">Envio de SMS - {{ comp.name }}</h3>
        <div class="card-block">
            <form>
                <div class="form-group" id="mensagem-form">
                    <p><input type="email" id="email" placeholder="exemplo@email.com.br" >
                    <label for="email">
                        Insira o email que reberá o relatório de resultado
                    </label></p>
                    <p>
                    <input type="tel" id="telefone" maxlength="16" placeholder="(41) 9-8888-8888">
                    <label for="telefone">
                            Telefone de destino com DDD.
                    </label></p>

                    <p><label for="mensagem">Mensagem</label></p>
                    <p><textarea class="form-control" maxlength="160" id="mensagem"
                                 placeholder="Digite a mensagem a ser enviada."></textarea></p>
                    <span id="characters">0</span>
                    <div>
                    <p><button type="button" id="send" class="btn btn-primary btn-lg">Enviar</button></p>
                    </div>
                </div>
            </form>
            <div class="alert alert-info" role="alert" id="alert">
            </div>
        </div>
    </div>
</div>
{% endblock %}