{% extends "base.html" %}
{% block content  %}
				<div>
					<div class="jumbotron">
						<div class="container">
							<h3>{{ comp.name }}</h3>
							<p>Selecione o modo de criação do SMS:</p>
                            <p>
                                <a class="btn btn-primary btn-block btn-lg"  href="/sms/{{comp.alias}}/single/">
	                                Envio de SMS com campo livre
								</a>
                            </p>
                            <br>
							 <p>
                                <a class="btn btn-primary btn-block btn-lg"  href="/sms/{{comp.alias}}/xml/">
                                    Envio de SMS por importação de relatório SIENG
                                </a>
                            </p>

						</div>
					</div>
					<hr>
				</div>
{% endblock %}